<a href="https://colab.research.google.com/github/SwarupD21/Machine-Learning-Basics/blob/main/K_Fold_and_Cross_Validation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

In [2]:
data = pd.read_csv(r"/content/heart.csv")
data.head()

   age  sex  cp  trestbps  chol  fbs  ...  exang  oldpeak  slope  ca  thal  target
0   63    1   3       145   233    1  ...      0      2.3      0   0     1       1
1   37    1   2       130   250    0  ...      0      3.5      0   0     2       1
2   41    0   1       130   204    0  ...      0      1.4      2   0     2       1
3   56    1   1       120   236    0  ...      0      0.8      2   0     2       1
4   57    0   0       120   354    0  ...      1      0.6      2   0     2       1

[5 rows x 14 columns]

In [3]:
data.isnull().sum()

age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
ca          0
thal        0
target      0
dtype: int64

In [4]:
data.shape

(303, 14)

In [5]:
ip = data.drop('target',axis=1)
op = data['target']

In [6]:
data['target'].value_counts()

target
1    165
0    138
Name: count, dtype: int64

In [8]:
x_train,x_test,y_train,y_test = train_test_split(ip,op,test_size=0.2,stratify = op,random_state=3)

In [10]:
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score

In [13]:
models = [LogisticRegression(max_iter=1000),SVC(kernel='linear'),KNeighborsClassifier(),RandomForestClassifier()]
def model_accuracy():
  for model in models:
    model.fit(x_train,y_train)
    pred = model.predict(x_test)
    acc = accuracy_score(pred,y_test)
    print(f"Accuracy of {model} : {acc}")

In [14]:
model_accuracy()

Accuracy of LogisticRegression(max_iter=1000) : 0.7868852459016393
Accuracy of SVC(kernel='linear') : 0.7704918032786885
Accuracy of KNeighborsClassifier() : 0.6557377049180327
Accuracy of RandomForestClassifier() : 0.7704918032786885

#**Cross Validation**

In [15]:
from sklearn.model_selection import cross_val_score

In [16]:
models = [LogisticRegression(max_iter=1000),SVC(kernel='linear'),KNeighborsClassifier(),RandomForestClassifier()]

In [17]:
def cross_validation_accuracy():
  for model in models:
    cv_score = cross_val_score(model,ip,op,cv = 5)
    accuracy = sum(cv_score)/len(cv_score)
    mean_accu = accuracy*100
    mean_accu = round(mean_accu,2)
    print(f"Cross Validation Score of {model} : {cv_score}")
    print(f"Mean Accuracy of {model} : {mean_accu}")
    print()

In [18]:
cross_validation_accuracy()

Cross Validation Score of LogisticRegression(max_iter=1000) : [0.80327869 0.86885246 0.85245902 0.86666667 0.75      ]
Mean Accuracy of LogisticRegression(max_iter=1000) : 82.83

Cross Validation Score of SVC(kernel='linear') : [0.81967213 0.8852459  0.80327869 0.86666667 0.76666667]
Mean Accuracy of SVC(kernel='linear') : 82.83

Cross Validation Score of KNeighborsClassifier() : [0.60655738 0.6557377  0.57377049 0.73333333 0.65      ]
Mean Accuracy of KNeighborsClassifier() : 64.39

Cross Validation Score of RandomForestClassifier() : [0.81967213 0.8852459  0.78688525 0.8        0.78333333]
Mean Accuracy of RandomForestClassifier() : 81.5